/*基本*/
body {
  letter-spacing: 0.1em;
}
a:hover {
  opacity: 0.7;
}
/*全幅から左paddingをコンテンツサイズまで縮める*/
.full-justify-left {
  padding-left: calc((100vw - var(--container_size, 0px)) / 2);
}
svg.icon_instagram {
  width: 23.3px;
  height: 23.3px;
}
svg.icon_blog {
  width: 28.5px;
  height: 26.7px;
}
.l-content {
  padding-top: 0;
  margin-bottom: 0 !important;
}
.l-mainContent__inner > .post_content {
  padding: 0;
}
/*固定ページタイトル*/
.page-title {
  position: absolute !important;
  bottom: 0 !important;
  font-size: 6.875rem !important;
  font-weight: normal !important;
  line-height: 0.9em !important;
  transform: translatey(40%);
  letter-spacing: 0.1em !important;
}
.page-hero-block {
  margin-bottom: 0 !important;
  padding-bottom: 130px !important;
}
/*Header上*/
.upper-header-imges {
  padding-left: calc((100vw - var(--container_size, 0px)) / 2);
}

.upper-header-imges figure {
  margin: 0 !important;
}

.upper-header-imges figure img {
  width: calc(10vw - var(--container_size, 0px) / 10);
}

/*Header*/
.l-header {
  box-shadow: 0 1px 2px rgb(0 0 0 / 12%);
}
.l-header__inner .cls-1 {
  fill: #595757;
}
.icon-instagram:before {
  color: #595757;
}
#gnav a:hover {
  opacity: 1;
}

/*TOPページ*/
.top-hero-title-block {
  padding-top: 90px !important;
}
.top-hero-title-block figure {
  width: 376.5px;
}
.top-hero-title-block h1 {
  margin-left: auto;
  width: fit-content;
  letter-spacing: 0.2rem !important;
}
.top-gallery-block figure {
  margin: 0 !important;
}

/*ABOUTページ*/
.about-profile-title {
  font-size: 6.875rem !important;
  font-weight: normal !important;
  line-height: 0.9em !important;
  letter-spacing: 0.1em !important;
  margin: 0 !important;
  transform: translatey(-95%);
}
/*MENUページ*/
.menu-title-cp {
  width: 520px;
  height: 107px;
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-title-cp:first-of-type {
  transform: translateY(-50%);
}
.menu-col-left {
  border-top: 1px solid var(--color_main);
}
.menu-col-inner {
  padding: 1.875rem 0;
}
.menu-col-wp:last-of-type {
  margin-bottom: 150px !important;
}
.menu-col-wp:last-of-type > .menu-col-left {
  border-bottom: 1px solid var(--color_main);
}
.menu-title {
  margin-bottom: 1rem !important;
}
/*CONTACTセクション（フッター直前ウィジェット）*/
#before_footer_widget {
  margin: 0;
}
/*パンくず*/
#breadcrumb {
  background-color: #e7e7e7;
}

/*コンテンツ幅以上*/
@media (min-width: 1000px) {
  .swell-block-fullWide__inner {
    padding: 0;
  }
}

/*Swellのメディアクエリ*/
@media (max-width: 600px) {
  .upper-header-imges figure img {
    width: calc(100vw / 5) !important;
  }
  .upper-header-imges figure {
    width: auto !important;
  }
}
