/**
 * フロントとエディタの両方に適応するスタイル
 */

@charset "UTF-8";

body * {
  font-feature-settings: "palt";
}

/*改行禁止*/
.nowrap {
  white-space: nowrap !important;
}
/*ヘッダーアレンジ 縦書き*/
.is-style-vertical-text {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

/*MENU*/
p.menu-guide {
  border-radius: 50%;
  width: 96.25px;
  height: 96.25px;
  display: flex;
  font-size: 0.875rem;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-weight: normal;
  line-height: 1.3em;
}
p.menu-item-title {
  border-radius: 8px;
  width: 77px;
  height: 24px;
  font-size: 0.9375em;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 0;
}

/* 小さなデバイス  (スマホ, 768pxとそれ以下)*/
@media (max-width: 768px) {
}

/* 中間のデバイス(タブレット, 768以上992px以下)*/
@media (min-width: 768.01px) and (max-width: 992px) {
}

/*Swellのメディアクエリ*/
@media (min-width: 782px) {
}

@media (min-width: 600px) and (max-width: 781px) {
}

/* 600pxより小さいと--swl-fz--root:3.6vwで、ルートの文字サイズがレスポンシブになってる。
 * emやrem指定のフォントが画面サイズによってスケールしちゃう。
 * レスポンシブが嫌ならルートのフォントサイズを固定して、画面サイズごとに指定する。*/
@media (max-width: 600px) {
  /*
	html{
		font-size:16px;
	}
  */
}
